<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Movie Booking App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
  <button class="btn btn-success pull-right" (click)="logout()">
    Logout
  </button>
 
</header>
<router-outlet>
</router-outlet>
<footer class="bg-success text-center text-lg-start fixed-bottom">
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(238, 243, 230, 0.2);">
    © 2020 Copyright:
    <a class="text-dark" href="">vendhan</a>
  </div>
  <!-- Copyright -->
</footer>
